 /* The TA also helped me  */

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC";
}

body{
    font-family: var(--primary-font);  


}

img {
	max-width: 100%;
}

.searchbox{

display: flex;
width: 100%;

}
header.Title img{
    width: 80px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */  
    display:inline;
}

.Title h1{
    display:inline;
    font-family: var(--secondary-font);  
    font-size: 50px;

}

header{
    text-align: center;
}

.search{
    
    width: 30px; 
    border:1px black solid;
    border-radius: 0 5px 5px 0;
    /* height: 100%; */
    padding: 1px 1px 1px 1px;


}


.findarecipe{

    border:1px black solid;
    border-radius: 5px 0 0 5px; /* top-left: 5px, top-right: 0, bottom-right: 0, bottom-left: 5px */
    width: 100%;
    height:30px;

}


.recipe_box{
 border:1px black solid;
 
 display:block;

 padding: 30px 30px 30px 30px;

}

.recipe_box img {
    
    display:block;
}



.recipe_box .dessert{
    width: 70px;
    display:block;
}



h2{
    color: var(--secondary-color);
}

.description{
    display:none;
}



footer{
    padding-top: 35px;
    text-align: center;
    
}


footer img {
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Example: Add margin for spacing between images */
    
    
}
.flaticon{

    font-size: 12px;
    color: var(--primary-color);
    font-weight: bold;
}




@media screen and (min-width: 750px){

    @import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
    :root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Amatic SC";
    }
    
    body{
        font-family: var(--primary-font);  
    
    
    }
    
    img {
        max-width: 100%;
    }
    
    .searchbox{
    
    display: flex;
    width: 100%;
    
    }
    header.Title img{
        width: 80px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */  
        display:inline;
    }
    
    .Title h1{
        display:inline;
        font-family: var(--secondary-font);  
        font-size: 50px;
    
    }
    
    header{
        text-align: center;
    }
    
    .search{
        
        width: 30px; 
        border:1px black solid;
        border-radius: 0 5px 5px 0;
        /* height: 100%; */
        padding: 1px 1px 1px 1px;
    
    
    }
    
    
    .findarecipe{
    
        border:1px black solid;
        border-radius: 5px 0 0 5px; /* top-left: 5px, top-right: 0, bottom-right: 0, bottom-left: 5px */
        width: 100%;
        height:30px;
    
    }
    
    
    .recipe_box{
     border:1px black solid;
     
     display:flex;
    
     padding: 30px 30px 30px 30px;
      
     
    
    }
    
    .rightside {

        padding-left: 35px;
    }
    
    .recipe_box .dessert{
        width: 70px;
        display:block;
       

    }
    
    
    
    h2{
        color: var(--secondary-color);
        /* padding-left: 15px; */
    }
    
  .description{
    display: block;
    /* padding-left: 15px; */
  }

/* .rating{
    padding-left: 15px;

} */
    
    
    footer{
        padding-top: 35px;
         text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* align-items: center; */
       

        
    }
    
    
    footer img {
        width: 50px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        /* margin-right: 10px; Example: Add margin for spacing between images */
        /* text-align: right; */
        /* align-items: right; */
    }
    
.social{
    grid-column: 2/3; 
    
}

    footer a{

       grid-column: 1/2; 
       grid-row: 1/2;
       
    }


    footer p{
    display:none;
    
}
/* footer p{
    display:none;
    
} */
.flaticon{

    font-size: 12px;
    color: var(--primary-color);
    font-weight: bold;
}

}